<div class="st-container">
  <div class="content-wrapper-hero">
    <div class="image-hero">
      <img src="assets/img/agendamento-petmeets.png" alt="Hero PetMeets" class="image-about" />
    </div>
    <div class="title-container margin-left">
      <h2 class="color-dark-blue padding-bottom-10">O jeito mais prático e rápido de gerir agendamentos de clínicas e hospitais veterinarios</h2>
      <h3 class="color-blue padding-bottom-20">
        Otimize o agendamento de consultas veterinárias em sua clínica ou hospital com o PetMeets
      </h3>
      <p class="color-dark-blue padding-bottom-40">
        Contrary to popular belief, Lorem Ipsum is not simply random text. [...]
      </p>
      <button class="button">Saiba Mais</button>
    </div>
  </div>
</div>
  