<div class="st-container">
  <div class="content-wrapper-hero padding-bt-40">
    <div class="title-container">
      <h5 class="color-blue">A solução completa para seu negócio</h5>
      <h1 class="color-dark-blue padding-bottom-20">A Solução da sua Clínica Veterinária</h1>
      <h3 class="color-text text-container padding-bottom-40">
        Otimize o agendamento de consultas veterinárias em sua clínica ou hospital com o PetMeets
      </h3>
      <button class="button">Automatize seu Negócio</button>
    </div>
    <div class="image-hero">
      <img src="assets/img/petmeets-img.png" alt="Hero PetMeets" />
    </div>
  </div>
</div>
  