<div class="container">
  <app-hero></app-hero>
  <div class="background-color-grey padding-bottom-40">
    <div class="st-container color-grey">
      <div class="content-no-padding-bottom">
        <div class="benefits-card">
          <h2 class="color-dark-blue text-align padding-bottom-10">
            A plataforma completa para seu consultório
          </h2>
          <h5 class="color-medium-blue text-align padding-bottom-40">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </h5>
        </div>
      </div>
    </div>

    <div class="st-container">
      <div class="container-card container-content-no-padding gap-cards">
        <app-benefits></app-benefits>
        ></app-benefits>
      </div>

      <div class="image-container">
        <img src="assets/img/benefits-petmeets.png" alt="Benefícios PetMeets" class="benefits-image" />
      </div>
    </div>
  </div>
  <app-about></app-about>
</div>
